.mat-divider{
    margin-top: 10px !important;
}

span{
    margin-top: .2em !important;
    margin-bottom: .2em !important;
    overflow-wrap: break-word;
}

.mat-dialog-actions{
    margin-top: 15px !important;
    justify-content: flex-end !important;
}

.information-label{
    font-weight: 500;
    font-size: .7em;
    text-transform: uppercase;
    color: rgba(0,0,0,.44);
    display: block;
}