<app-form [title]="title" (onSave)="onSave()" [disableButton]="isInvalidForm() || isLoadingRequest" [form]="form"
  [showSpinner]="isLoadingRequest">
  <div form>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="100" fxFlex.gt-xs="calc(50% - 16px)">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" [formControl]="getField('name')" required>
          <mat-error *ngIf="hasError('name', 'required')">Nome é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="calc(50% - 16px)">
        <mat-form-field>
          <mat-label>Função</mat-label>
          <mat-select [formControl]="getField('role')">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.label}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('role', 'required')">Função é obrigatória
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="calc(50% - 16px)">
        <app-radiobutton [radiobuttonLabel]="'Funcionário externo'" [options]="isExternalOptions"
          [control]="getField('isExternal')">
        </app-radiobutton>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="calc(50% - 16px)">
        <app-autocomplete [placeholder]="'Funcionário'" [errorMessage]="'Funcionário inválido'"
          [options]="employeeOptions" [control]="getField('employee')">
        </app-autocomplete>
      </div>

      <div fxFlex="100">
        <mat-form-field>
          <mat-label>Observações</mat-label>
          <textarea matInput mat-autosize cdkTextareaAutosize placeholder="Observações"
            [formControl]="getField('notes')">
          </textarea>
        </mat-form-field>
      </div>


    </div>
  </div>

</app-form>
